* {
    box-sizing: border-box;
}

.body__grid-container {
    /* border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap: 3rem;
    border: 5px solid red;
    padding: 1rem;
}
@media (max-width: 1300px) {
    .body__grid-container {
        grid-template-columns: repeat(3,300px);

    }
}
@media (max-width: 1000px) {
    .body__grid-container {
        grid-template-columns: repeat(2,300px);
    }
}
@media (max-width: 750px) {
    .body__grid-container {

        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
