@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
* {
    box-sizing: border-box;
}

.body__grid-container {
    /* border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
    background-color: #3B4CCA;
    gap: 3rem;
    padding: 1rem;
}
@media (max-width: 1000px) {
    .body__grid-container {
        grid-template-columns: repeat(3,200px);

    }
}
@media (max-width: 800px) {
    .body__grid-container {
        grid-template-columns: repeat(2,200px);
    }
}
@media (max-width: 500px) {
    .body__grid-container {

        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.body__instructions-container {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    padding: 10px;
}