* {
    box-sizing: border-box;
}

.body__grid-container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.body__grid-square {
    border: 1px solid blue;
    padding: 100px;
}