@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
* {
    box-sizing: border-box;
}
.card__container {
    border: 2px solid black;
    padding: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CC0000;
}

.card__image {
    height: 200px;
    width: 200px;
    z-index: 0;
    padding: 20px;
}

.card__name {
    position: relative;
    z-index: 4;
    background-color: #B3a125;
    width: 196px;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    padding: 2px;
}